.App {
  text-align: center;
  font-family: "Poppins";
}
.default-container {
  max-width: 1024px;
  margin: 0 auto;
}

.escuro {
  background-color: #252525;
}
.escuro h2 {
  color: #ccc;
}
.escuro h3 {
  color: #fff;
}
#exp .escuro {
  background-color: #393838;
}
